<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>
        FitnessGym
        {% block title %}

        {% if title %}
        | {{ title }}
        {%  endif %}

        {% if sub_title %}
        | {{ sub_title }}
        {%  endif %}

        {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css' %}">

</head>

<body>
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    {% include 'inc/_nav.html' %}
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="bradcumbContent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{ title }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            {% if sub_title %}
                            <li class="breadcrumb-item active" aria-current="page">{{ sub_title }}</li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

{% block content %} {% endblock %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg-11.jpg' %});">

    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget-area mb-50">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <a href="#"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        </div>
                        <p class="mb-30">Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id. Nullam vulputate a lectus non molestie. Duis at lobortis neque.</p>
                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget-area mb-50">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>testimonials</h6>
                        </div>

                        <!-- Testimonials Slides -->
                        <div class="testimonials-slides owl-carousel">

                            <div class="single-slide">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Donec molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Michael Smith</span>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Julia Williams</span>
                                </div>
                            </div>

                            <div class="single-slide">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Donec molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Michael Smith</span>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Julia Williams</span>
                                </div>
                            </div>

                            <div class="single-slide">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Donec molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Michael Smith</span>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <p>“ Molestie tincidunt tellus sit amet aliquet. Proin auctor nisi ut purus</p>
                                    <span>Julia Williams</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget-area mb-50">
                        <div class="widget-title">
                            <h6>Classes</h6>
                        </div>

                        <nav>
                            <ul class="fitness-classes">
                                <li><a href="#">Bodybuilding Class</a></li>
                                <li><a href="#">Fitness Class</a></li>
                                <li><a href="#">Yoga Courses</a></li>
                                <li><a href="#">Dumbell Class</a></li>
                                <li><a href="#">Spinning Class</a></li>
                                <li><a href="#">Kangoo Jump Class</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget-area mb-50">
                        <div class="widget-title">
                            <h6>Contact</h6>
                        </div>

                        <!-- Single Contact -->
                        <div class="single-contact mb-30">
                            <span>Address:</span>
                            <p>481 Creekside Lane Avila <br>Beach, CA 93424</p>
                        </div>

                        <!-- Single Contact -->
                        <div class="single-contact mb-30">
                            <span>Phone:</span>
                            <p>+53 345 7953 32453</p>
                        </div>

                        <!-- Single Contact -->
                        <div class="single-contact mb-30">
                            <span>Email:</span>
                            <p>yourmail@gmail.com</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/plugins/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
<!-- Live Chat Code :: Start of Tawk.to Script -->
<script>
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5b55ea72df040c3e9e0bdf85/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!-- End of Tawk.to Script -->
</body>

</html>
