{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- ##### Service Area Start ##### -->
    <div class="fitness-services-area section-padding-100-0">
        <div class="container">
            <div class="row">

                {% for item in services %}
                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100">
                        <div class="course-content d-flex align-items-center">
                            <!-- Course Icon -->
                            <div class="course-icon d-flex align-items-center justify-content-center">
                                <img src="{{ item.icon.url }}" alt="">
                            </div>
                            <h4>{{item.title}}</h4>
                        </div>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- ##### Service Area End ##### -->

    <!-- ##### Skilss Area Start ##### -->
    <section class="skills-area section-padding-100-0 clearfix bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %});">
        <div class="container">
            <div class="row">

                <!-- Single Skills Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div id="circle" class="circle" data-value="0.75">
                            <div class="skills-text">
                                <span>75%</span>
                                <h6>Training</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Skills Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div id="circle2" class="circle" data-value="0.50">
                            <div class="skills-text">
                                <span>50%</span>
                                <h6>Endurance</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Skills Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div id="circle3" class="circle" data-value="0.90">
                            <div class="skills-text">
                                <span>90%</span>
                                <h6>Commitment</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Skills Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div id="circle4" class="circle" data-value="1">
                            <div class="skills-text">
                                <span>100%</span>
                                <h6>Professionals</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Skilss Area End ##### -->

    <!-- ##### Pricing Table Area Start ##### -->
    <div class="fitness-pricing-table-area service-page section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h6>Fitness Gym</h6>
                        <h2>Choose a Class</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for class in top_classes %}
                <!-- Single Price Table -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-price-table mb-100">
                        <img src="{{ class.picture.url }}" alt="">
                        <div class="price-table-content">
                            <!-- price -->
                            <h2 class="price">
                                {{ class.direction }}<span>| {{ class.duration }} ч</span>
                            </h2>
                            <h5>{{ class.title }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="see-more">
                <a href="#" class="btn fitness-btn mt-30">See more classes &#10140;</a>
            </div>
        </div>
    </div>
    <!-- ##### Pricing Table Area End ##### -->
{% endblock %}
