{% extends 'base.html' %}
{% load static %}



{% block content %}

    <!-- ##### About Us Area Start ##### -->
    <div class="about-us--area section-padding-100">
        <div class="container">
            <div class="row">

                <!-- About Text -->
                <div class="col-12 col-lg-7">
                    <div class="section-heading">
                        <h6>Fitness Gym</h6>
                        <h2>Why should you choose our Fitness room?</h2>
                    </div>
                    <div class="about-text">
                        <p>{{ data }}</p>
                        <a href="#" class="btn fitness-btn mt-30">Get a membership</a>
                    </div>
                </div>

                <!-- About Thumbnail -->
                <div class="col-12 col-lg-5">
                    <div class="about--thumb">
                        <img src="{% static 'img/bg-img/bg-12.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <div class="cool-facts-area section-padding-100-0 bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg-13.jpg' %});">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact text-center mb-100">
                        <img src="{% static 'img/core-img/stationary-bike2.png' %}" alt="">
                        <h2><span class="counter">1293</span></h2>
                        <p>Km Spinned</p>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact text-center mb-100">
                        <img src="{% static 'img/core-img/chronometer.png' %}" alt="">
                        <h2><span class="counter">12</span></h2>
                        <p>Hours a Day</p>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact text-center mb-100">
                        <img src="{% static 'img/core-img/beef.png' %}" alt="">
                        <h2><span class="counter">311</span></h2>
                        <p>Days of Diet</p>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact text-center mb-100">
                        <img src="{% static 'img/core-img/swimming2.png' %}" alt="">
                        <h2><span class="counter">3000</span></h2>
                        <p>Km Swimmed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="teachers-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h6>Fitness Gym</h6>
                        <h2>Meet the instructors</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for trainer in trainers %}
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area mb-100">
                        <!-- Bg Gradients -->
                        <div class="teachers-bg-gradients"></div>
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            {% if trainer.photo %}
                            <img src="{{ trainer.photo.url }}" alt="">
                            {% else %}
                            <img src="{% static 'img/team-img/trainer_default.png' %}" alt="">
                            {% endif %}
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info">
                            <h6>{{trainer.first_name}} {{trainer.last_name}}</h6>
                            <span>{{ trainer.specialty.title }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% comment %}
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area mb-100">
                        <!-- Bg Gradients -->
                        <div class="teachers-bg-gradients"></div>
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/team-img/t1.png' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info">
                            <h6>Julia Smith</h6>
                            <span>Personal trainer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area mb-100">
                        <!-- Bg Gradients -->
                        <div class="teachers-bg-gradients"></div>
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/team-img/t2.png' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info">
                            <h6>Mick Hamilton</h6>
                            <span>Personal trainer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area mb-100">
                        <!-- Bg Gradients -->
                        <div class="teachers-bg-gradients"></div>
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/team-img/t3.png' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info">
                            <h6>Criss James</h6>
                            <span>Fitness trainer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area mb-100">
                        <!-- Bg Gradients -->
                        <div class="teachers-bg-gradients"></div>
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{% static 'img/team-img/t4.png' %}" alt="">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info">
                            <h6>Jack Black</h6>
                            <span>Personal trainer</span>
                        </div>
                    </div>
                </div>
                {% endcomment %}

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->
{% endblock %}
