{% extends 'base.html' %}
{% load static %}


{% block title %}
| {{ title }}
{% endblock %}


{% block content %}
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-title">
                    <h3>Get in touch</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="contact-content">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form method="post">
                            {% csrf_token %}
                            {% include 'inc/_message.html' %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.name.errors }}
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.email.errors }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.subject.errors }}
                                {{ form.subject }}
                            </div>
                            <div class="form-group">
                                {{ form.message.errors }}
                                {{ form.message }}
                            </div>
                            <button class="btn fitness-btn btn-2 mt-30" type="submit">Contact Us</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

<!-- ##### Google Maps ##### -->
<div class="map-area">
    {{ club_contacts.map | safe }}
</div>


<div class="contact-info">
    <div class="contact-title">
        <h3>Fitness club contacts</h3>
    </div>

    <h6>{{ club_contacts.address }}</h6>
    <h6>{{ club_contacts.phone }}</h6>
    <h6>{{ club_contacts.email }}</h6>
</div>

{% endblock %}
