{% extends 'base.html' %}
{% load static %}

{% block title %}
| A Modern Fitness Gym
{% endblock %}

{% block content %}
<!-- ##### Service Area Start ##### -->
<div class="fitness-services-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/dumbbell.png' %}" alt="">
                        </div>
                        <h4>Business School</h4>
                    </div>
                    <p>Donec id mattis est. Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/slim-down.png' %}" alt="">
                        </div>
                        <h4>Fitness Pro</h4>
                    </div>
                    <p>Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/lotus-position.png' %}" alt="">
                        </div>
                        <h4>Yoga Courses</h4>
                    </div>
                    <p>Nullam vulputate a lectus non molestie. Duis at lobortis neque, in maximus leo. Donec nec blandit ex, in finibus tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/apple.png' %}" alt="">
                        </div>
                        <h4>Diet Specialists</h4>
                    </div>
                    <p>Donec id mattis est. Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/swimming.png' %}" alt="">
                        </div>
                        <h4>Swimming Pool</h4>
                    </div>
                    <p>Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/stationary-bike.png' %}" alt="">
                        </div>
                        <h4>Spinning Class</h4>
                    </div>
                    <p>Nullam vulputate a lectus non molestie. Duis at lobortis neque, in maximus leo. Donec nec blandit ex, in finibus tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/apple.png' %}" alt="">
                        </div>
                        <h4>Cycling</h4>
                    </div>
                    <p>Donec id mattis est. Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/swimming.png' %}" alt="">
                        </div>
                        <h4>Outdoor Yoga</h4>
                    </div>
                    <p>Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100">
                    <div class="course-content d-flex align-items-center">
                        <!-- Course Icon -->
                        <div class="course-icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/core-img/stationary-bike.png' %}" alt="">
                        </div>
                        <h4>Meditation</h4>
                    </div>
                    <p>Nullam vulputate a lectus non molestie. Duis at lobortis neque, in maximus leo. Donec nec blandit ex, in finibus tortor.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ##### Service Area End ##### -->

<!-- ##### Skilss Area Start ##### -->
<section class="skills-area section-padding-100-0 clearfix bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %});">
    <div class="container">
        <div class="row">

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div id="circle" class="circle" data-value="0.75">
                        <div class="skills-text">
                            <span>75%</span>
                            <h6>Training</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div id="circle2" class="circle" data-value="0.50">
                        <div class="skills-text">
                            <span>50%</span>
                            <h6>Endurance</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div id="circle3" class="circle" data-value="0.90">
                        <div class="skills-text">
                            <span>90%</span>
                            <h6>Commitment</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div id="circle4" class="circle" data-value="1">
                        <div class="skills-text">
                            <span>100%</span>
                            <h6>Professionals</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Skilss Area End ##### -->

<!-- ##### Pricing Table Area Start ##### -->
<div class="fitness-pricing-table-area service-page section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h6>Fitness Gym</h6>
                    <h2>Choose a Class</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-8.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $50<span>/ Month</span>
                        </h2>
                        <h5>Woman Fitness Class</h5>
                    </div>
                </div>
            </div>

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-9.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $70<span>/ Month</span>
                        </h2>
                        <h5>Spinning Class + BONUS</h5>
                    </div>
                </div>
            </div>

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-10.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $90<span>/ Month</span>
                        </h2>
                        <h5>All Inclusive Gym</h5>
                    </div>
                </div>
            </div>

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-14.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $50<span>/ Month</span>
                        </h2>
                        <h5>Woman Fitness Class</h5>
                    </div>
                </div>
            </div>

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-15.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $70<span>/ Month</span>
                        </h2>
                        <h5>Spinning Class + BONUS</h5>
                    </div>
                </div>
            </div>

            <!-- Single Price Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-price-table mb-100">
                    <img src="{% static 'img/bg-img/bg-16.jpg' %}" alt="">
                    <div class="price-table-content">
                        <!-- price -->
                        <h2 class="price">
                            $90<span>/ Month</span>
                        </h2>
                        <h5>All Inclusive Gym</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ##### Pricing Table Area End ##### -->
{% endblock %}

