{% if comment_form %}
{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<h1 class="comments-title"><a name="comments"></a>Comments</h1>

{% include 'inc/_message.html' %}

<div class="comments-block">
    {% if page_obj %}
    <ul>
        {% for com in page_obj %}
        <li name="comment">
            <div class="comment-meta">
                <span>{{ com.user.first_name }}</span>
                <span id="comment_date">{{ com.created_at | date:"d-m-Y H:i" }}</span>
            </div>
            <p>{{ com.text | safe }}</p>
        </li>
        {% endfor %}
    </ul>
    {% include 'inc/_pagination.html' %}
    {% else %}
    <h4 class="not-comments">Еще никто не комментировал ...</h4>
    {% endif %}
</div>

{% if request.user.is_authenticated %}
<div class="send-comment">
    <form method="post" action="{% url 'add-comment' %}">
        {% csrf_token %}
        {% for field in comment_form %}
            {{ field }}
        {% endfor %}
        <button type="submit" class="btn fitness-btn menu-btn">Send</button>
    </form>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    Для комментирования необходимо авторизоваться!
</div>
{% endif %}


{% endif %}
