{% load static %}
<div class="fitness-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="fitnessNav">

                <!-- Nav brand -->
                <a href="{% url 'home' %}" class="nav-brand">
                    <!--                        <img src="img/core-img/logo.png" alt="">-->
                    <img src="{% static 'img/core-img/logo.png' %}" alt="">
                </a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'services' %}">Services</a></li>
                                    <li><a href="{% url 'news' %}">News</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Cards</a></li>
                            <li><a href="{% url 'services' %}">Services</a>
                                <ul class="dropdown">
                                    <li><a href="#">Classes</a></li>
                                    <li><a href="#">Cards</a></li>
                                    <li><a href="#">Schedule</a></li>
                                    <li><a href="#">Another</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'contacts' %}">Contacts</a></li>
                        </ul>

                        <!-- Call Button -->
                        <a href="#" class="fitness-btn menu-btn ml-30">Call:  +34 586 778 8892</a>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
