{% if page_obj.has_other_pages %}

  {% block pagination %}
  <nav aria-label="Page navigation" class="pagination-nav">
    <ul class="pagination">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" tabindex="-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" href="#">Previous</a>
      </li>
      {% endif %}

      {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endblock %}

{% endif %}
