nav.pagination-nav {
    display: flex;
    justify-content: center;
}

ul.pagination li a.page-link {
    color: #39b143;
    border-radius: 2rem;
    border: none;
    margin: 0.25rem;
}

ul.pagination li.page-item.active a.page-link {
    background: #1a9937;
    border-color: #299f44;
}


div.blog-post-categories span.badge {
    margin: auto 0;
    border-radius: 50%;
}


.img-sm {
    width: 46px;
    height: 46px;
}
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}
.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-body {
    padding: 25px 20px;
}
.media-block .media-left {
    display: block;
    float: left
}
.media-block .media-right {
    float: right
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}
.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}
.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}
.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}
.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}
.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}
.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}
.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}
.mar-top {
    margin-top: 15px;
}

.comments-title {
    font-size: 36px;
    color: #141414;
    font-weight: 600;
}

div.send-comment form button {
    width: 25%;
    margin: 1rem 0;
}

div.comments-block {
    margin: 3rem 2rem;
}

div.comments-block li {
    margin: 2rem 0;
}

div.comments-block li div.comment-meta{
    display: flex;
    justify-content: space-between;
}

div.comments-block li span {
    font-size: 16px;
    font-weight: 700;
    color: #38b143;
    margin: auto 0;
}
div.comments-block li span#comment_date{
    font-size: 13px;
    font-weight: 400;
}

div.comments-block li p {
    margin: 0 1rem;
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.not-comments {
    font-weight: 500;
    font-size: 20px;
    color: #a9a9a9;
}

.contact-info{
    margin: 5%;
}

.see-more {
    text-align: center;
    margin-bottom: 2rem;
}
