{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="blog-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="fitness-blog-posts">
                    <div class="row">

                        {% for item in news%}
                        <!-- Single Blog Start -->
                        <div class="col-12">
                            <div class="single-blog-post mb-100">
                                <!-- Post Thumb -->
                                <div class="blog-post-thumb mb-30">
                                    {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/blog-img/1.png' %}" alt="">
                                    {% endif %}
                                    <div class="post-date">
                                        <p><span>{{ item.created_at|date:"M" }}</span>{{ item.created_at|date:"d" }}</p>
                                    </div>
                                </div>
                                <!-- Post Title -->
                                <a href="{% url 'view_news' item.pk %}" class="post-title">{{item.title}}</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <p>By <a href="#">{{ item.author.first_name }}</a>
                                        | in <a href="{% url 'category' item.category.pk %}">{{ item.category.title }}</a>
                                        | <a href="{% url 'view_news' item.pk %}#comments">{{ item.newscomment_set.all.count }} comments</a>
                                        | {{ item.views }} views
                                    </p>
                                </div>
                                <!-- Post Excerpt -->
                                <p>{{ item.content | safe | truncatewords:50 }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% block pagination %}
                {% include 'inc/_pagination.html' %}
                {% endblock %}
            </div>

            <div class="col-12 col-md-4">
                <div class="fitness-blog-sidebar">

                    <!-- Add Widget -->
                    <div class="add-widget mb-100">
                        <a href="#"><img src="{% static 'img/bg-img/add3.png' %}" alt=""></a>
                    </div>

                    <!-- Blog Post Catagories -->
                    {% load news_tags %}
                    {% show_categories %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock %}
