<div class="blog-post-categories mb-100">
    <h5>Categories</h5>
    <ul>
        <li><a href="{% url 'news' %}">
            <span>Все</span>
            <span class="badge badge-pill badge-primary">{{ total_news }}</span>
        </a></li>

        {% for c in categories %}
        <li><a href="{% url 'category' c.pk %}">
            <span>{{ c.title }}</span>
            <span class="badge badge-pill badge-success">{{c.cnt}}</span>
        </a></li>
        {% endfor %}
    </ul>
</div>

