{% extends 'base.html' %}
{% load static %}

{% block title %}
| {{ news_item.title }}
{% endblock %}

{% block content %}
<div class="blog-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="fitness-blog-posts">
                    <div class="row">

                        <!-- Single Blog Start -->
                        <div class="col-12">
                            <div class="single-blog-post mb-100">
                                <!-- Post Thumb -->
                                <div class="blog-post-thumb mb-30">
                                    {% if news_item.photo %}
                                    <img src="{{ news_item.photo.url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/blog-img/1.png' %}" alt="">
                                    {% endif %}
                                </div>
                                <!-- Post Title -->
                                <a href="#" class="post-title">{{news_item.title}}</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <p>By <a href="#">{{ news_item.author.first_name }}</a>
                                        | in <a href="#">{{ news_item.category.title }}</a>
                                        | <a href="#comments">{{comment_total}} comments</a>
                                        | at {{ news_item.created_at|date:"d-m-Y" }}
                                        | {{ news_item.views }} views
                                    </p>
                                </div>
                                <!-- Post Excerpt -->
                                <p>{{ news_item.content | safe}}</p>
                            </div>
                        </div>
                        <!-- Single Blog End -->

                    </div>
                </div>

                {% include 'inc/_commentaries.html' %}

            </div>

            <div class="col-12 col-md-4">
                <div class="fitness-blog-sidebar">
                    <!-- Blog Post Catagories -->
                    {% load news_tags %}
                    {% show_categories %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
